{% load static %}
{% load static i18n %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buta Dining</title>

      {% if "/ru/" in request.path %}
        <!-- Russian Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap">
        <style>
            html * {
                font-family: 'Montserrat Alternates', sans-serif !important;
            }
        </style>
    {% else %}
        <!-- Default Font (Poppins) -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
        <style>
            html * {
                font-family: 'Poppins', sans-serif !important;
            }
        </style>
    {% endif %}
     <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-WlgIxn/SdC0OvZ3sXS2Ai3XT2UcAvjqCBpW94XHjUL3dw/nHwgsu5x1bd2DO8ftvBdbLld5OSu3CrR47yUmMnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="loader-box" id="loader" style="display: none;">
        <div class="loader">
            <div class="loader__balls">
                <div class="loader__balls__group">
                  <div class="ball item1"></div>
                  <div class="ball item1"></div>
                  <div class="ball item1"></div>
                </div>
                <div class="loader__balls__group">
                  <div class="ball item2"></div>
                  <div class="ball item2"></div>
                  <div class="ball item2"></div>
                </div>
                <div class="loader__balls__group">
                  <div class="ball item3"></div>
                  <div class="ball item3"></div>
                  <div class="ball item3"></div>
                </div>
            </div>
        </div>
    </div>


    {% block body %}{% endblock %}

    <!-- Add the jQuery library -->
<!--    <<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d17c83b3d5.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.9/dist/js/splide.min.js"></script>
    <script src="{% static 'app/app.js' %}"></script>
</body>