<!-- pages/home.html -->
{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block body %}
    <header>
        <div class="header">
            <div class="header-left">
                {% include '../include/navBar.html' %}
                <div class="header-info">
                    <div class="header-title">{% trans 'Asılılıq' %} <span>{% trans 'yaradan' %}</span> {% trans 'dad' %}</div>
                    <div class="header-text">{% trans 'Böyük məmnuniyyətlə, biz hər bir ziyarətçini əhval-ruhiyyəni yüksəldən və sevindirənbubble tea sortunun müxtəlif variantlarını yaradırıq. Bizim bubble teabir fincanda əsl sehrdir, anları unikal və xüsusi edir.' %}</div>
                    <div class="header-link"><a href="">{% trans 'Menyunu araşdırın' %}</a></div>
                </div>
            </div>
            <div class="header-right">
                <div class="header-img-group">
                    <div class="header-img-box hImgBox1"></div>
                    <div class="header-img-box hImgBox2"></div>
                    <div class="header-img-box hImgBox3"></div>
                </div>
                <div id="splide" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide"><img src="{% static 'assets/Rectangle11.png' %}">
                            </li>
                            <li class="splide__slide"><img src="{% static 'assets/Rectangle2.png' %}">
                            </li>
                            <li class="splide__slide"><img src="{% static 'assets/Rectangle20.png' %}">
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <article>
        <div class="advantages">
            <div class="advantages-content">
                <div class="advantages-group">
                    <div class="advantages-box">
                        <div class="advantages-box-left">
                            <div class="advantages-box-circle"></div>
                        </div>
                        <div class="advantages-box-right">
                            <div class="advantages-title">1k+</div>
                            <div class="advantages-box-subtitle">{% translate '5 ulduzlu reytinq' %}</div>
                        </div>
                    </div>
                    <div class="advantages-box">
                        <div class="advantages-box-left">
                            <div class="advantages-box-circle"></div>
                        </div>
                        <div class="advantages-box-right">
                            <div class="advantages-title">15+</div>
                            <div class="advantages-box-subtitle">{% trans 'Komanda üzvü' %}</div>
                        </div>
                    </div>
                    <div class="advantages-box">
                        <div class="advantages-box-left">
                            <div class="advantages-box-circle"></div>
                        </div>
                        <div class="advantages-box-right">
                            <div class="advantages-title">1.5k+</div>
                            <div class="advantages-box-subtitle">{% trans 'Ziyarətçilərin sayı' %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <section>
        <div class="about">
            <div class="about-content">
                <div class="about-left">
                    <img src="{% static 'assets/about.png' %}" alt="">
                </div>
                <div class="about-right">
                    <div class="about-section">{% trans 'Niyə biz?' %}</div>
                    <div class="about-title">{% trans 'Dadımızın fərqli xüsusiyyətləri' %}</div>
                    <div class="about-text">{% trans 'Kreativ aşpazlarımız damaqda unudulmaz dad buraxmaq üçün hər bir detalı diqqətlə nəzərdən keçirir və təqdim edirlər' %}.</div>
                    <div class="about-item-group">
                        <div class="about-item">
                            <div class="about-item-left">
                                <div class="about-item-icon">
                                    <img src="{% static 'assets/about-icon.png' %}" alt="">
                                </div>
                            </div>
                            <div class="about-item-right">
                                <div class="about-item-title">{% trans 'Yüksək Xidmət' %}</div>
                                <div class="about-item-subtitle">{% trans 'Biz xüsusi xidmətlə müstəsna ləzzətlər təklif edirik.' %}</div>
                            </div>
                        </div>
                        <div class="about-item">
                            <div class="about-item-left">
                                <div class="about-item-icon">
                                    <img src="{% static 'assets/flavoring 1.png' %}" alt="">
                                </div>
                            </div>
                            <div class="about-item-right">
                                <div class="about-item-title">{% trans 'Mövsümi ləzzətlər' %}</div>
                                <div class="about-item-subtitle">{% trans 'Təzə və mövsümə uyğun maddələr' %}</div>
                            </div>
                        </div>
                        <div class="about-item">
                            <div class="about-item-left">
                                <div class="about-item-icon">
                                    <img src="{% static 'assets/menu 1.png' %}" alt="">
                                </div>
                            </div>
                            <div class="about-item-right">
                                <div class="about-item-title">{% trans 'Kompleks Menyular' %}</div>
                                <div class="about-item-subtitle">{% trans 'Aşpazlarımızın xüsusi reseptləri ilə unikal dad təcrübəsi təqdim edirik.' %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="galleryOption">
        <div class="gallery-options">
           <div class="option active" style="--optionBackground:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg);">
              <div class="shadow"></div>
              <div class="label">
                 <div class="icon">
                    <i class="fas fa-walking"></i>
                 </div>
                 <div class="info">
                    <div class="main">Title</div>
                    <div class="sub">Short text about restaurant</div>
                 </div>
              </div>
           </div>
           <div class="option" style="--optionBackground:url(https://66.media.tumblr.com/8b69cdde47aa952e4176b4200052abf4/tumblr_o51p7mFFF21qho82wo1_1280.jpg);">
              <div class="shadow"></div>
              <div class="label">
                 <div class="icon">
                    <i class="fas fa-snowflake"></i>
                 </div>
                 <div class="info">
                    <div class="main">Title</div>
                    <div class="sub">Short text about restaurant</div>
                 </div>
              </div>
           </div>
           <div class="option" style="--optionBackground:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);">
              <div class="shadow"></div>
              <div class="label">
                 <div class="icon">
                    <i class="fas fa-tree"></i>
                 </div>
                 <div class="info">
                    <div class="main">Title</div>
                    <div class="sub">Short text about restaurant</div>
                 </div>
              </div>
           </div>
           <div class="option" style="--optionBackground:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);">
              <div class="shadow"></div>
              <div class="label">
                 <div class="icon">
                    <i class="fas fa-tint"></i>
                 </div>
                 <div class="info">
                    <div class="main">Title</div>
                    <div class="sub">Short text about restaurant</div>
                 </div>
              </div>
           </div>
           <div class="option" style="--optionBackground:url(https://66.media.tumblr.com/f19901f50b79604839ca761cd6d74748/tumblr_o65rohhkQL1qho82wo1_1280.jpg);">
              <div class="shadow"></div>
              <div class="label">
                 <div class="icon">
                    <i class="fas fa-sun"></i>
                 </div>
                 <div class="info">
                    <div class="main">Title</div>
                    <div class="sub">Short text about restaurant</div>
                 </div>
              </div>
           </div>
        </div>
    </section>

    <section>
        <div class="menu">
            <div class="menu-content">
                <div class="menu-left">
                </div>
                <div class="menu-right">
                    <div class="menu-section">{% trans 'Menu' %}</div>
                    <div class="menu-title">{% trans 'Bizim unikal və yüksək keyfiyyətli dadlarımız.' %}</div>
                    <div class="menu-slider-navigate">
                        <div class="slider-navigation-bar">
                            <div class="slider-navigation-category" onclick="showSlider(1)">{% trans 'İçkilər' %}</div>
                            <div class="slider-navigation-category" onclick="showSlider(2)">{% trans 'Qarnirlər' %}</div>
                            <div class="slider-navigation-category" onclick="showSlider(3)">{% trans 'Qəlyanaltılar' %}</div>
                            <div class="slider-navigation-category" onclick="showSlider(4)">{% trans 'Saladlar' %}</div>
                        </div>
                        <div class="sliderIndicator">
                            <div class="slider-indicator" id="sliderIndicator"></div>
                        </div>
                    </div>

                    <div id="menuSlide1" class="splide active">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for menu_item in menu_items_with_images %}
                                    {% if menu_item.subcategory.category_id == 3 %}
                                        <li class="splide__slide">
                                            <div class="menu-box">
                                                {% if menu_item.image %}
                                                    <img src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}">
                                                {% else %}
                                                    <img src="{% static 'assets/logo.png' %}" alt="logo">
                                                {% endif %}
                                                <a href="/menu">{% trans 'Ətraflı oxu' %}</a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div id="menuSlide2" class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for menu_item in menu_items_with_images %}
                                    {% if menu_item.subcategory_id == 7 %}
                                        <li class="splide__slide">
                                            <div class="menu-box">
                                                {% if menu_item.image %}
                                                    <img src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}">
                                                {% else %}
                                                    <img src="{% static 'assets/logo.png' %}" alt="logo">
                                                {% endif %}
                                                <a href="/menu">{% trans 'Ətraflı oxu' %}</a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div id="menuSlide3" class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for menu_item in menu_items_with_images %}
                                    {% if menu_item.subcategory_id == 6 %}
                                        <li class="splide__slide">
                                            <div class="menu-box">
                                                {% if menu_item.image %}
                                                    <img src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}">
                                                {% else %}
                                                    <img src="{% static 'assets/logo.png' %}" alt="logo">
                                                {% endif %}
                                                <a href="/menu">{% trans 'Ətraflı oxu' %}</a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div id="menuSlide4" class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for menu_item in menu_items_with_images %}
                                    {% if menu_item.subcategory_id == 6 %}
                                        <li class="splide__slide">
                                            <div class="menu-box">
                                                {% if menu_item.image %}
                                                    <img src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}">
                                                {% else %}
                                                    <img src="{% static 'assets/logo.png' %}" alt="logo">
                                                {% endif %}
                                                <a href="/menu">{% trans 'Ətraflı oxu' %}</a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="menu-text">
                        {% trans 'Böyük məmnuniyyətlə, biz hər bir ziyarətçini əhval-ruhiyyəni yüksəldən və sevindirənbubble tea sortunun müxtəlif variantlarını yaradırıq. Bizim bubble teabir fincanda əsl sehrdir, anları unikal və xüsusi edir.' %}

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="blog">
            <div class="blog-content">
                <div class="blog-section">{% trans 'Blog' %}</div>
                <div class="blog-title">{% trans 'Zövq jurnalı' %}</div>
                <div class="blog-box-group">
                    <div class="blog-box blog-box-1">
                        <div class="blog-box-date">{% trans 'Noyabr 11, 2023' %}</div>
                        <div class="blog-box-title">{% trans 'Buta taste cafenin açılış mərsimi keçirildi' %}</div>
                        <div class="blog-box-link"><a href="">{% trans 'Ətraflı oxu' %}</a></div>
                    </div>
                    <div class="blog-box blog-box-1">
                        <div class="blog-box-date">{% trans 'Noyabr 11, 2023' %}</div>
                        <div class="blog-box-title">{% trans 'Buta taste cafenin açılış mərsimi keçirildi' %}</div>
                        <div class="blog-box-link"><a href="">{% trans 'Ətraflı oxu' %}</a></div>
                    </div>
                    <div class="blog-box blog-box-1">
                        <div class="blog-box-date">{% trans 'Noyabr 11, 2023' %}</div>
                        <div class="blog-box-title">{% trans 'Buta taste cafenin açılış mərsimi keçirildi' %}</div>
                        <div class="blog-box-link"><a href="">{% trans 'Ətraflı oxu' %}</a></div>
                    </div>
                </div>
                <div class="blog-btn">
                    <a href="">{% trans 'Daha çox' %}</a>
                </div>
            </div>
        </div>
    </section>

     <section>
        <div class="review">
            <div class="review-title">{% trans 'Rəylər' %}</div>
            <div class="review-content">
                <div id="userReviewsSlider" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for review in reviews %}
                            <li class="splide__slide">
                                <!-- Slide content goes here -->
                                <div class="review-box">
                                    <div class="review-name">{{ review.full_name }}</div>
                                    <div class="review-text">
                                        {{ review.text }}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <button class="open-review-form" id="openReviewForm">{% trans 'Rəy yazın' %}</button>
            </div>
        </div>
    </section>

 <div class="review-form-box">
    <div class="popup__blur"></div>
    <div class="review-form-box-content">
        <div class="review-form-box-content-top">
                <div class="review-form-box-title">{% trans 'Rəy bildirin' %}</div>
                <button id="closeReviewForm">X</button>
        </div>
        <form class="review-form-box-form" method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="review-form-item">
                {{ form.full_name }}
            </div>

            <div class="review-form-item">
                {{ form.email }}
            </div>

            <div class="review-form-item">
                {{ form.text }}
            </div>

            <button type="submit">{% trans 'Göndər' %}</button>
        </form>
    </div>
</div>


    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3039.240954097497!2d49.843177!3d40.38135200000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d472808bd09%3A0xb5bd6b58c3c23a90!2sButa%20Dining%20%26%20Cha!5e0!3m2!1sen!2saz!4v1700900125188!5m2!1sen!2saz"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    {% include '../include/footer.html' %}

{% endblock %}
