<!-- pages/menu.html -->
{% extends 'base.html' %}
{% load static %}
{% block body %}

<div style="padding: 0 8%;">
    {% include '../include/navBar.html' %}
</div>

    <div class="menuPage">
        <div class="menuPage-content">
            <div class="menuPage-section">Menu</div>
              <!-- Display categories -->
        <div class="menuPage-categories">
            {% for category in categories %}
                <div class="menuPage-category">
                    <button class="category-btn" data-category="{{ category.id }}">{{ category.name }}</button>
                </div>
            {% endfor %}
        </div>


        <!-- subcategories -->
        <div class="subcategory-line">
            {% for subcategory in subcategories %}
                <button class="subcategory-item" data-subcategory="{{ subcategory.id }}" data-category="{{ subcategory.category_id }}">{{ subcategory.name }}</button>
            {% endfor %}
        </div>

        <div class="business-lunch">
            <div class="lunch-box-menu">
                <div class="lunch-box-content">
                    <div class="lunch-box-left">
                        <div class="lunch-box-weekday">
                            <ul>
                                <li><button onclick="showLunchBox(1)">Bazar ertəsi</button></li>
                                <li><button onclick="showLunchBox(2)">Çərşənbə axşamı</button></li>
                                <li><button onclick="showLunchBox(3)">Çərşənbə</button></li>
                                <li><button onclick="showLunchBox(4)">Cümə axşamı</button></li>
                                <li><button onclick="showLunchBox(5)">Cümə</button></li>
                            </ul>
                        </div>
                        <div class="menu__price">
                            <img src="{% static 'assets/star-red.svg' %}" alt="">
                            <p>7₼</p>
                        </div>
                    </div>
                    <div class="lunch-box-right">
                        <div class="lun-box-result">
                            <ul class="lunch-box" id="lunch-box-1">
                                <li>
                                    <div class="lunch-box-title">Soup</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/soup1.png' %}')">
                                        01 Toyuq şorbası</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/soup2.png' %}')">
                                        02 Mərci şorbası</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Salatlar</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad1.png' %}')">01
                                        Çoban salatı</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad2.png' %}')">02
                                        Vitamin salatı</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad3.png' %}')">03
                                        Toyuq salatı</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad4.png' %}')">04
                                        Kök salatı</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Əsas yeməklər</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/esas1.png' %}')">
                                        01
                                        Toyuq kotleti</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/toyuq2.png' %}')">02
                                        Toyuq sobada</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/toyuq3.png' %}')">03
                                        Ət qulyaji</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/toyuq4.png' %}')">04
                                        Tomat sousunda köftə</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Qarnirlər</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir1.png' %}')">01
                                        Düyü</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir2.png' %}')">02
                                        Qarabaşaq</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir3.png' %}')">03
                                        Penne makaronu</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir4.png' %}')">04
                                        Bulqur</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">İçkilər</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/ayran.png' %}')">
                                        01
                                        Ayran</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/compot.png' %}')">02
                                        Kompot</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/cola.png' %}')">
                                        03
                                        Kola / fanta / sprite</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/su.png' %}')">04
                                        Su
                                    </div>
                                </li>
                            </ul>
                            <ul class="lunch-box" id="lunch-box-2">
                                <li>
                                    <div class="lunch-box-title">Soup</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/soup3.png' %}')">
                                        01
                                        Köftəli sup</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/soup4.png' %}')">
                                        02
                                        Tərəvəzli krem-sup</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Salatlar</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad1.png' %}')">01
                                        Çoban salatı</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad5.png' %}')">02
                                        Çuğundur salatı</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad3.png' %}')">03
                                        Miraj salatı</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad6.png' %}')">04
                                        Yaqut salatı</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Əsas yeməklər</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/esas2.png' %}')">
                                        01
                                        Izmir köftə</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/esas1.png' %}')">
                                        02
                                        Toyuq şnitsel</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/esas3.png' %}')">
                                        03
                                        Tərəvəzli toyuq sote</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/toyuq2.png' %}')">04
                                        Sobada bişmiş toyuq budu</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Qarnirlər</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir5.png' %}')">01
                                        Tərəvəzli düyü</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir6.png' %}')">02
                                        Kartof püresi</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir4.png' %}')">03
                                        Meyhanə bulqur</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir7.png' %}')">04
                                        Farfalle makaronu</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">İçkilər</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/ayran.png' %}')">
                                        01
                                        Ayran</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/compot.png' %}')">02
                                        Kompot</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/cola.png' %}')">
                                        03
                                        Kola / fanta / sprite</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/su.png' %}')">04
                                        Su
                                    </div>
                                </li>
                            </ul>
                            <ul class="lunch-box" id="lunch-box-3">
                                <li>
                                    <div class="lunch-box-title">Soup</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/soup3.png' %}')">
                                        01
                                        Ət supu düyü ilə</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/soup4.png' %}')">
                                        02
                                        Dovğa</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Salatlar</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir7.png' %}')">01
                                        Yunan salatı</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        02
                                        Lobya salatı</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        03
                                        Kartof salatı</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        04
                                        Kahı ilə salat</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Əsas yeməklər</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        01
                                        Toyuq çığırtma</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        02o
                                        Buxarda bişmiş tərəvəzlər ile toyuq ruleti</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/esas4.png' %}')">
                                        03
                                        Ət befstroqanov</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/esas5.png' %}')">
                                        04
                                        Ət kotleti</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Qarnirlər</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir1.png' %}')">01
                                        Düyü</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir2.png' %}')">02
                                        Qarabaşaq</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        03
                                        Buxarda bişmiş tərəvəzlər</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir8.' %}png')">04
                                        Sobada bişmiş kartof</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">İçkilər</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/ayran.png' %}')">
                                        01
                                        Ayran</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/compot.png' %}')">02
                                        Kompot</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/cola.png' %}')">
                                        03
                                        Kola / fanta / sprite</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/su.png' %}')">04
                                        Su
                                    </div>
                                </li>
                            </ul>
                            <ul class="lunch-box" id="lunch-box-4">
                                <li>
                                    <div class="lunch-box-title">Soup</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/soup5.png' %}')">
                                        01
                                        Borş</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/soup6.png' %}')">
                                        02
                                        Yaşıl mərci</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Salatlar</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad1.png' %}')">01
                                        Çoban salatı</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad8.png' %}')">02
                                        Kələm salatı (mayonezli)</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad9.png' %}')">03
                                        Gavalı ilə toyuq salatı</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad10.png' %}')">04
                                        Tərəvəzli tay salatı</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Əsas yeməklər</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/esas6.png' %}')">
                                        01
                                        Souslu toyuq qanadları</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/esas7.png' %}')">
                                        02
                                        Bolonez souslu spagetti</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/esas8.png' %}')">
                                        03
                                        Ləvəngi (toyuq)</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/esas9.png' %}')">
                                        04
                                        Çoban qovurma</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Qarnirlər</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir9.png' %}')">01
                                        Şüyüdlü düyü</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir10.png' %}')">
                                        02 Spagetti</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir11.png' %}')">
                                        03 Qızardılmış tərəvəzlər</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir10.png' %}')">
                                        04 Makaron</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">İçkilər</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/ayran.png' %}')">
                                        01
                                        Ayran</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', './assets/compot.png')">02
                                        Kompot</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/cola.png' %}')">
                                        03
                                        Kola / fanta / sprite</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/su.png' %}')">04
                                        Su
                                    </div>
                                </li>
                            </ul>
                            <ul class="lunch-box" id="lunch-box-5">
                                <li>
                                    <div class="lunch-box-title">Soup</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        01
                                        Reyhan ilə şorba</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        02
                                        Yayla şorbası</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Salatlar</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad1.' %}png')">01
                                        Çoban salatı</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/salad1.png' %}')">02
                                        Paytaxt salatı</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        03
                                        Özbək sayağı salat</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        04
                                        Tərəvəzli lay-lay salat</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Əsas yeməklər</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        01
                                        Pendirli bifşteks</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        02
                                        Toyuq frikase</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        03
                                        Ətli faxitos</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/logo.png' %}')">
                                        04
                                        Çoban qovurma</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">Qarnirlər</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir1.png' %}')">01
                                        Düyü</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir2.png' %}')">02
                                        Qarabaşaq</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir10.png' %}')">
                                        03 Makaron</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/qarnir4.png' %}')">04
                                        Bulqur</div>
                                </li>
                                <li>
                                    <div class="lunch-box-title">İçkilər</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/ayran.png' %}')">
                                        01
                                        Ayran</div>
                                    <div class="lunch-box-item"
                                        onclick="updateImage('imgLunch', '{% static 'assets/compot.png' %}')">02
                                        Kompot</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/cola.png' %}')">
                                        03
                                        Kola / fanta / sprite</div>
                                    <div class="lunch-box-item" onclick="updateImage('imgLunch', '{% static 'assets/su.png' %}')">04
                                        Su
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="lunch-box-img">
                            <img src="" alt="" id="imgLunch">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Display menu items -->
        <div class="menu-items">
            {% for menu_item in menu_items %}
            <div class="menu-item" data-menu-item-id="{{ menu_item.id }}" data-category="{{ menu_item.subcategory_id }}" data-main-category="{{ menu_item.subcategory.category_id }}">
                <div class="card">
                        <div class="menu-img">
                            {% if menu_item.image %}
                                <img src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}">
                            {% else %}
                                 <img src="{% static 'assets/logo.png' %}" alt="logo">
                            {% endif %}
                        </div>
                        <div class="content">
                          <div class="menu-item-title">{{ menu_item.name }}</div>
                          <div class="bg-title">BUTA</div>
                          <div class="feature">
                            <div>{{ menu_item.description }}</div>
                          </div>
                          <div class="feature">
                            <div class="menu-price">{{ menu_item.price }} ₼</div>
                          </div>
                            <div class="menu-btn">
                          <button class="addToCartBtn" data-menu-item="{{ menu_item.id }}">buy now</button>
                                 </div>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>


        <div class="cart-count-container">
            <span id="cartCount">0</span>
        </div>
        <button id="showCartBtn"><img src="{% static 'assets/shopping-bag.png' %}" alt=""></button>

        <div id="cartSidebar">
            <div class="cartHeader">
                <h2>Shopping Cart</h2>
                <span class="closeBtn" id="closeCartBtn">&times;</span>
            </div>
            <div class="cartContent" id="cartContent">
                <div class="shopping-cart">
                    <ul id="cart-items" class="cart-items-list"></ul>
                    <div id="total-price">Total Price: 0 ₼</div>
                    <button id="send-to-telegram-btn">Sifariş ver</button>
                </div>
            </div>
        </div>

              <div id="contactForm" class="contact-information-order-form-container">
                <div class="contact-information-order-container">
                  <div class="contact-information-order-form-wrapper">
                    <div class="contact-information-order-heading">
                      Contact Us
                        <button id="closeReviewForm" type="button">X</button>
                    </div>
                    <p class="contact-information-order-sub-heading">
                      Fill up the form below to send us a message.
                    </p>
                      <form id="contactFormForm">
                          <div class="mb-6">
                              <label for="contactName">Ad</label>
                              <input type="text" name="contactName" id="contactName" placeholder="Ad" required class="contact-information-order-form-input" />
                          </div>
                          <div class="mb-6">
                              <label for="contactSurname">Soyad</label>
                              <input type="text" name="contactSurname" id="contactSurname" placeholder="Soyad" required class="contact-information-order-form-input" />
                          </div>
                          <div class="mb-6">
                              <label for="contactNumber">Əlaqə nömrəsi</label>
                              <input type="text" name="contactNumber" id="contactNumber" placeholder="+994 70 000 00 00" required class="contact-information-order-form-input" />
                          </div>
                          <div class="mb-6">
                              <label for="contactAddress">Ünvan</label>
                              <input type="text" name="contactAddress" id="contactAddress" placeholder="Təbriz küçəsi...." required class="contact-information-order-form-input" />
                          </div>
                          <div class="mb-6">
<!--                          <button id="confirmContactBtn" type="button" class="contact-information-order-submit-btn">-->
<!--                            Göndər-->
<!--                          </button>-->
                          <button class="button-hold" id="confirmContactBtn" type="button">
                                <div>
                                    <svg class="icon" viewBox="0 0 16 16">
                                        <polygon points="1.3,6.7 2.7,8.1 7,3.8 7,16 9,16 9,3.8 13.3,8.1 14.7,6.7 8,0"></polygon>
                                    </svg>
                                    <svg class="progress" viewBox="0 0 32 32">
                                        <circle r="8" cx="16" cy="16" />
                                    </svg>
                                    <svg class="tick" viewBox="0 0 24 24">
                                        <polyline points="18,7 11,16 6,12" />
                                    </svg>
                                </div>
                                Send
                            </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


    </div>
    </div>


{% endblock %}
