{% load static i18n %}
{% load static %}

{% block body %}

                <nav>
                    <div class="nav-content">
                        <a href="{% url 'home' %}">
                            <div class="nav-logo">
                                <img src="{% static 'assets/logo-bg.png' %}" alt="">
                            </div>
                        </a>

                        <div class="nav-item">
                            <ul>
                                <li><a href="{% url 'menu' %}">{% trans 'Menu' %}</a></li>
                                <li><a href="{% url 'contact' %}">{% trans 'Əlaqə' %}</a></li>

                            </ul>
                        </div>
                        <div class="language-switcher dropdown">
                                      <div class="caption">
                                        <img src="{% static 'assets/en.png' %}" alt="En">
                                        <span>En</span>
                                      </div>
                                      <div class="list">
                                        <div class="item" data-item="en">
                                          <img src="{% static 'assets/en.png' %}" alt="En">
                                          <span>En</span>
                                        </div>
                                        <div class="item" data-item="ru">
                                          <img src="{% static 'assets/ru.png' %}" alt="Ru">
                                          <span>Ru</span>
                                        </div>
                                        <div class="item" data-item="az">
                                          <img src="{% static 'assets/az.png' %}" alt="Az">
                                          <span>Az</span>
                                        </div>
                                      </div>
                                    </div>
                        <div class="sidebar" id="sidebar">
                            <div class="menu-group">
                                <div id="menu"></div>
                                <div id="menu"></div>
                                <div id="menu"></div>
                            </div>

                            <div id="active" class="action-menu">
                                <div class="sidebar-logo">
                                    <img src="{% static 'assets/logo-bg.png' %}" alt="">
                                </div>
                                <ul>
                                    <li><a href="/">{% trans 'Əsas' %}</a></li>
                                    <li><a href="{% url 'menu' %}">{% trans 'Menu' %}</a></li>
                                    <li><a href="{% url 'contact' %}">{% trans 'Əlaqə' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>





{% endblock %}